.DS_Store
.idea/
.kiro/
.vscode/

# Logs
*.log
logs/

# Node
node_modules/
dist/
coverage/

# Java
target/
.mvn/

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Environment
.env
.env.*
